*{
  font-family: 'Saira', sans-serif; 
}

body{background:#212529 !important;}

/* NAVIGACIJA */
.navbar-collapse{
  justify-content: flex-end;
}

nav, .omeni{
  z-index:2;
}

.logo{
  width:10rem;
}

a.nav-link{
  font-weight:600;
  color:#9d9fa2 !important;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a.active, .navbar-nav > li:nth-child(odd) > a:hover, .navbar-nav > li:nth-child(odd) > a:focus{
  border-bottom:0.1rem solid #ed1651;
}
.navbar-nav > li > a.active, .navbar-nav > li:nth-child(even) > a:hover, .navbar-nav > li:nth-child(even) > a:focus{
  border-bottom:0.1rem solid #53b7e8;
}

/* Hero sekcija */

.hero-header{
  position:relative;
  background:url(./images/desktop-pozadina.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  height: 90vh;
}

@media (max-width:768px){
  .hero-header{
    height: 70vh;
  }
}

.hero-header::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, rgba(0,0,0,1) 65%, rgba(237,22,81,0.25) 100%);
  opacity: .6; 
}

.hero-main-header{
  display:flex;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}

h1{
  z-index:1;
  color:#fff;
  padding-top:5%;
  font-family: 'VT323', monospace;
}

h1 span{
  font-family: 'VT323', monospace;
}

@media (max-width:768px){
  h1{
    font-size:1.2rem !important;
  }
}

.typed-text{
  z-index:1;
  font-size:2rem;
  color:#53b7e8;
}

.typed-text span{
  font-family: 'VT323', monospace;
}

@media (max-width:768px){
  .typed-text{
    font-size:1.2rem !important;
  }
}

.kontakt-btn{
position:relative;
padding:20px 60px;
display:flex;
justify-content: center;
align-items: center;
background: rgba(33, 37, 41);
margin:20px;
transition:1s;
text-decoration:none;
overflow:hidden;
-webkit-box-reflect:below 1px linear-gradient(transparent, #0004);
}

@media (max-width:768px) {
  .kontakt-btn{
    padding:20px 40px;
    margin-top:20px;  
    font-size:12px; 
  }
}

.kontakt-btn:hover{
background-color: #53b7e8;
box-shadow: 0 0 10px #53b7e8,
0 0 30px #53b7e8,
0 0 60px #53b7e8,
0 0 100px #53b7e8;
color:#000;
}

.kontakt-btn::before{
  content:'';
  position:absolute;
  width:40px;
  height:400%;
  background:#53b7e8;
  transition:1s;
  animation:animate 2s linear infinite;
}

.kontakt-btn:hover::before{
  width:120%;
}

@keyframes animate {
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}

.kontakt-btn::after{
  content:'';
  position:absolute;
  inset:4px;
  background: rgba(33, 37, 41);
  transition:0.5s;
}

.kontakt-btn:hover::after{
  background:#53b7e8;
}

.kontakt-btn span{
  position: relative;
  z-index:1;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition:0.5s;
}

.kontakt-btn:hover span{
  color:#000;
}

/* O meni */

.profilka{
  border-radius:25px;
  padding:0.5rem;
  border: 1px solid #53b7e8;
  width:20rem;
}

h2{
  text-transform: uppercase;
}

@media (max-width:1400px){
  .profilka{
    margin-right:0.5rem;
  }
}
@media (max-width:1200px){
  .profilka{
    margin-right:1rem;
  }
}

@media (max-width:991px) {
  h2{
    text-align:center;
  }
  .profilka{
    margin-right:0;
    width:80%;
  }
}


.crvena{
  color:#ed1651;
}

.plava{
  color:#53b7e8;
}

.fotka{
  display:flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width:991px) and (max-width:1199px){
  .fotka{
    margin-right:2rem;
  }
}

.omeni p{
  color:#fff;
}

/* Usluge */

.box p{
  color:#fff;
  text-align: center;
  margin-top:3rem;
}
.box h3{
position:relative;
width:100%;
text-align: center;
-webkit-box-reflect: below 5px linear-gradient(transparent, #0004);
line-height: 1.1em;
outline:none;
box-shadow: none;
color:#fff;
text-shadow:0 0 1px #53b7e8,
0 0 5px #53b7e8,
0 0 10px #53b7e8,
0 0 30px #53b7e8,
0 0 40px #53b7e8;
}


.box{
  display:flex;
  flex-direction: column;
  height: 16rem;
  border-bottom:5px solid #53b7e8;
  margin-bottom:2rem;
}

@media (max-width:1399px){
  .box{height:20rem;}
  .usluge-p1, .usluge-p2, .usluge-p4{padding-top:60px;}
  .usluge-p3{padding-top:28px;}
  }
  @media (max-width:1199px){
    .box{height:20rem;}
    .usluge-p4{padding-top:60px;}
    .usluge-p1, .usluge-p2, .usluge-p3{padding-top:28px;}
  }
  @media (min-width:768px) and (max-width:991px){
    .box{height:27rem;}
    .usluge-p3{padding-top:60px;}
    .usluge-p1, .usluge-p2{padding-top:90px;}
    .usluge-p4{padding-top:120px;}
  }

.fa-4x{
  color:#fff;
  margin-bottom:2rem;
}

.glow{
  color:#fff;
  text-shadow:0 0 1px #ed1651,
  0 0 5px #ed1651,
  0 0 10px #ed1651,
  0 0 30px #ed1651,
  0 0 40px #ed1651;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  margin-bottom:3rem;
}

/* Portfolio */

.portfolio-inner-container{
  background: #212529;
  display:grid;
  gap:1.5rem;
  margin:0 1.5rem;
}

@media (min-width:768px) and (max-width:1200px) {
  .portfolio-inner-container{
  grid-template-columns: repeat(2, 1fr);
}
}

@media (min-width:1201px) and (max-width:1400px) {
  .portfolio-inner-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width:1401px) {
  .portfolio-inner-container{
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Portfolio overflow */

.image-box-wrapper{
  position:relative;
}

.overflow{
  position:absolute;
  opacity:0;
  background: #212529;
  border:1px solid #ed1651;
  cursor:pointer;
  height: 100%;
}

@media (max-width:449px) {
  .overflow{
    width:95% !important;
  }
}

@media (min-width:450px) and (max-width:600px){
  .overflow{
    width:96% !important;
  }
}

@media (min-width:600px) and (max-width:767px){
  .overflow{
    width:97% !important;
  }
}

 @media (min-width:768px) and (max-width:980px){
  .overflow{
    width:95% !important;
  }
}
@media (min-width:981px) and (max-width:1199px){
  .overflow{
    width:96% !important;
  }
}

@media (min-width:1200px) {
  .overflow{
    width:95% !important;
  }
}

.image-box-wrapper:hover .overflow{
  opacity:80%;
  transition:0.3s ease-in-out;
}

.portfolio-icon{
  position:absolute;
  opacity:0;
  color:#fff;
  font-size:2rem;
  margin-top:23% !important;
}

.image-box-wrapper:hover .portfolio-icon{
  opacity:1;
  transition:0.3s ease-in-out;
  cursor:pointer;
}

/* Pop-up */

.portfolio-image-popup{
width:45rem;
padding:0 0.5rem;
}

.hyper-link{
  cursor: pointer;
  color:#ed1651;
  text-decoration: none;
}
.hyper-link:hover{
  color:#212529;
}

